<!doctype HTML>
<html>
<head>
	<title>List a new car</title>
	<link href="/css/bootstrap.min.css" rel="stylesheet">
	<link href="/bootstrap/css/bootstrap.min.css" rel="stylesheet" media="screen">

	<link href='http://fonts.googleapis.com/css?family=Fugaz+One' rel='stylesheet' type='text/css'>
</head>

<body>

	<div class="row" style="height:70px; vertical-align:middle; background-image: url(http://www.wallsave.com/wallpapers/1920x1080/texrura-metal/1605475/texrura-metal-ios-linen-texture-grey-by-vegardhw-on-deviantart-1605475.jpg)">	
	    <div class="span2" style="padding-left: 20px">
	        <a href="/" style="text-decoration:none">
	        	<p style="color:white; font-family:'Fugaz One', cursive; line-height: 70px; font-size: 50px">Dryve.me</p>
	        </a>
	    </div>
		{% if username %}	
	      <span class="span5" style="padding-left:450px; line-height:70px">
	  		<span style="color: #DDD4D4; font-size:16px;">
	  			&nbsp&nbsp&nbsp Welcome {{username}}!
	  			<a href="/logout">&nbsp&nbspLogout | </a>
	  			<a href="/find_cars">My Dashboard</a>
	  		</span>
		  </span>
		{% else %}
			<span class="span5" style="color: #D1D0CE; padding-left:450px; line-height:70px">
				You are not logged in!        <a href="/login">Login</a> | <a href="/signup">Sign Up</a>
				Go to <a href="/find_cars">My Dashboard</a>
			</span>
		{% endif %}
	</div>

<p></p>

<form class="form-horizontal" action="/newcar" method="POST" >
{{errors}}

	<div class="control-group">
		<label class="control-label" for="inputEmail">Name</label>
    	<div class="controls">
      		<input type="text" id="inputEmail" name="name" placeholder="Name" value="{{name}}">
    	</div>
	</div>

	<div class="control-group">
    	<label class="control-label" for="inputEmail">Make</label>
    	<div class="controls">
      		<input type="text" id="inputEmail" name="make" placeholder="Make" value="{{make}}">
    	</div>
  	</div>

  	<div class="control-group">
    	<label class="control-label" for="inputEmail">Model</label>
    	<div class="controls">
      		<input type="text" id="inputEmail" name="model" placeholder="Model" value="{{model}}">
    	</div>
  	</div>

  	<div class="control-group">
    	<label class="control-label" for="inputEmail">Year</label>
    	<div class="controls">
    		<select name="year" value="{{year}}">
    			<option>2013</option>
  				<option>2012</option>
  				<option>2011</option>
  				<option>2010</option>
  				<option>2009</option>
  				<option>2008</option>
  				<option>2007</option>
  				<option>2006</option>
  				<option>2005</option>
  				<option>2004</option>
  				<option>2003</option>
  				<option>2002</option>
  				<option>2001</option>
  				<option>2000</option>
  				<option>1999</option>
  				<option>1998</option>
  				<option>1997</option>
  				<option>1996</option>
  				<option>1995</option>
  				<option>1994</option>
  				<option>1993</option>
  				<option>1992</option>
  				<option>1991</option>
  				<option>1990</option>
  				<option>Older than 1990</option>
  			</select>
    	</div>
  	</div>

  	<div class="control-group">
    	<label class="control-label" for="inputEmail">Hourly Price</label>
    	<div class="controls">
      		<input type="text" id="inputEmail" name="pricePerHr" placeholder="Hourly Price" value="{{pricePerHr}}">
    	</div>
  	</div>

  	<div class="control-group">
    	<label class="control-label" for="inputEmail">Daily Price</label>
    	<div class="controls">
      		<input type="text" id="inputEmail" name="pricePerDay" placeholder="Daily Price" value="{{pricePerDay}}">
    	</div>
  	</div>

   	<div class="control-group">
    	<label class="control-label" for="inputEmail">Street Address</label>
    	<div class="controls">
      		<input type="text" id="inputEmail" name="street" placeholder="Street Address" value="{{street}}">
    	</div>
  	</div>

  	<div class="control-group">
    	<label class="control-label" for="inputEmail">City</label>
    	<div class="controls">
      		<input type="text" id="inputEmail" name="city" placeholder="City" value="{{city}}">
    	</div>
  	</div>

  	<div class="control-group">
    	<label class="control-label" for="inputEmail">State</label>
    	<div class="controls">
    		<select name="state" value="{{state}}">
    			<option>Alabama</option>
  				<option>Alaska</option>
  				<option>Arizona</option>
  				<option>Arkansas</option>
  				<option>California</option>
  				<option>Colorado</option>
  				<option>Connecticut</option>
  				<option>Delaware</option>
  				<option>Florida</option>
  				<option>Georgia</option>
  				<option>Hawaii</option>
  				<option>Idaho</option>
  				<option>Illinois</option>
  				<option>Indiana</option>
  				<option>Iowa</option>
  				<option>Kansas</option>
  				<option>Kentucky</option>
  				<option>Louisiana</option>
  				<option>Maine</option>
  				<option>Maryland</option>
  				<option>Massachusetts</option>
  				<option>Michigan</option>
  				<option>Minnesota</option>
  				<option>Mississippi</option>
  				<option>Missouri</option>
  				<option>Montana</option>
  				<option>Nebraska</option>
  				<option>Nevada</option>
  				<option>New Hampshire</option>
  				<option>New Jersey</option>
  				<option>New Mexico</option>
  				<option>New York</option>
  				<option>North Carolina</option>	
  				<option>North Dakota</option>
  				<option>Ohio</option>
  				<option>Oklahoma</option>
  				<option>Oregon</option>
  				<option>Pennsylvania</option>
  				<option>Rhode Island</option>	
  				<option>South Carolina</option>
  				<option>South Dakota</option>
  				<option>Tennessee</option>
  				<option>Texas</option>
  				<option>Utah</option>
  				<option>Vermont</option>
  				<option>Virginia</option>
  				<option>Washington</option>
  				<option>West Virginia</option>
  				<option>Wisconsin</option>
  				<option>Wyoming</option>
  			</select>
    	</div>
  	</div>

  	<div class="control-group">
    	<label class="control-label" for="inputEmail">Zip Code</label>
    	<div class="controls">
      		<input type="text" id="inputEmail" name="zip" placeholder="Zip Code" value="{{zip}}">
    	</div>
  	</div>

  	<div class="control-group">
    <div class="controls">
      <button type="submit" class="btn">Submit</button>
    </div>

  </div>

</body>
</html>

